

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Modulo</th>
                        <th>Turno</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var turno in Model){
                        <tr>
                            <td>@turno.Adviser?.Modulo</td>
                            <td>@turno.codigo_turno</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6 mt-5">
            <iframe class="mt-5" width="560" height="315" src="https://www.youtube.com/embed/_Ngdc0WrjcI?si=r-E7oY-kytNyYWPk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen autoplay></iframe>
        <div class="text-center">
            <img src="~/img/Logo_turnSystem.png" class="img2 " alt=""> 
        </div>

        </div>
    </div>
</div>


<script>
    setTimeout(function() {
        window.location.href = '@Url.Action("Modulo", "Home")';
    }, 20000);
</script> 