<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 p-3 card d-flex justify-content-center align-items-center text-center">
            <div class="row d-flex justify-content-center">
                <img src="~/img/Logo_turnSystem.png" class="img-fluid logo-min" alt="">
            </div>
            <h1 class="fw-bold text-primary">¿Que tipo de Documento tienes?</h1>
            <div class="row d-flex justify-content-center m-3 gap-2">
                <form asp-action="Type_Document_Selected" asp-controller="Home" method="post">
                    <select name="description" class="form-select" aria-label="Default select example">
                        <option selected>selecciona una opcion</option>
                        @foreach(var document in Model){
                            <option value="@document.description">@document.description</option>
                        }
                    </select>
                    <br>
                    <input type="text" name="document" id="numero_documento" class="form-input" onchange="recibir()">
                    <input type="hidden" name="document2" id="numero_documento2">
                    
                    <br>
                    <button type="submit" class="btn btn-primary"> continuar</button>
                </form>

            </div>
        </div>
    </div>
</div>