@{
    ViewData["Title"] = "Inicio";
}

@* Vista tramites *@
 <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 p-3 card d-flex justify-content-center align-items-center text-center">
            <div class="row d-flex justify-content-center">
                <img src="~/img/Logo_turnSystem.png" class="img-fluid logo-min" alt="">
            </div>
            <h1 class="fw-bold text-primary">Por favor seleciona un tramite</h1>
            <div class="row d-flex justify-content-center m-3 gap-2">
                <div class="card-item col p-2">
                    <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-item" viewBox="0 0 512 512"><path d="M428 224H288a48 48 0 0 1-48-48V36a4 4 0 0 0-4-4h-92a64 64 0 0 0-64 64v320a64 64 0 0 0 64 64h224a64 64 0 0 0 64-64V228a4 4 0 0 0-4-4m-92 160H176a16 16 0 0 1 0-32h160a16 16 0 0 1 0 32m0-80H176a16 16 0 0 1 0-32h160a16 16 0 0 1 0 32"/><path fill="#0D6EFD" d="M419.22 188.59L275.41 44.78a2 2 0 0 0-3.41 1.41V176a16 16 0 0 0 16 16h129.81a2 2 0 0 0 1.41-3.41"/></svg>                    </span>
                    <h2 class="fw-bold fs-5">Transcripciónes</h2>
                </div>
                <div class="card-item col p-2">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-item" viewBox="0 0 24 24"><path d="M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V2h2v2h8V2h2v2h1q.825 0 1.413.588T21 6v4.675q0 .425-.288.713t-.712.287q-.425 0-.712-.288T19 10.676V10H5v10h5.8q.425 0 .713.288T11.8 21q0 .425-.288.713T10.8 22zm13 1q-2.075 0-3.537-1.463T13 18q0-2.075 1.463-3.537T18 13q2.075 0 3.538 1.463T23 18q0 2.075-1.463 3.538T18 23m1.675-2.625l.7-.7L18.5 17.8V15h-1v3.2z"/></svg>
                    </span>
                    <h2 class="fw-bold fs-5">Citas</h2>
                </div>
                <div class="card-item col p-2">
                    <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-item" viewBox="0 0 24 24"><path d="m10.6 13.8l-2.15-2.15q-.275-.275-.7-.275t-.7.275q-.275.275-.275.7t.275.7L9.9 15.9q.3.3.7.3t.7-.3l5.65-5.65q.275-.275.275-.7t-.275-.7q-.275-.275-.7-.275t-.7.275zM12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22"/></svg>                    <h2 class="fw-bold fs-5">Autorizaciones</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center m-3 gap-2">
                <div class="card-item col p-2">
                    <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-item" viewBox="0 0 256 256"><path d="M237.66 77.6a8 8 0 0 1-11.32 0L208 59.25L179.3 88l34.35 34.35a8 8 0 0 1-11.32 11.32l-6.33-6.4l-84 84a16 16 0 0 1-11.35 4.73H51.26L29.6 237.66a8 8 0 0 1-11.72-.43a8.21 8.21 0 0 1 .61-11.1l21.45-21.46v-49.39A16 16 0 0 1 44.63 144l15.18-15.18a4 4 0 0 1 5.66 0l28.83 28.81a8 8 0 1 0 11.32-11.32l-28.84-28.84a4 4 0 0 1 0-5.66l11-11a4 4 0 0 1 5.66 0l28.84 28.84a8 8 0 1 0 11.32-11.32l-28.81-28.87a4 4 0 0 1 0-5.66l23.87-23.86l-6.35-6.35a8 8 0 0 1 .18-11.49a8.22 8.22 0 0 1 11.37.41L168 76.63l28.69-28.7l-18.36-18.35a8 8 0 0 1 .17-11.49a8.23 8.23 0 0 1 11.38.41l47.78 47.78a8 8 0 0 1 0 11.32"/></svg>                    </span>
                    <h2 class="fw-bold fs-5">Examenes</h2>
                </div>
                <div class="card-item col p-2">
                    <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-item" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M14.25 4.48v3.057c0 .111 0 .27.021.406a.937.937 0 0 0 .444.683a.96.96 0 0 0 .783.072c.13-.04.272-.108.378-.159L17 8.005l1.124.534c.106.05.248.119.378.16a.958.958 0 0 0 .783-.073a.937.937 0 0 0 .444-.683c.022-.136.021-.295.021-.406V3.031c.113-.005.224-.01.332-.013C21.154 2.98 22 3.86 22 4.933v11.21c0 1.112-.906 2.01-2.015 2.08c-.97.06-2.108.179-2.985.41c-1.082.286-2.373.904-3.372 1.436c-.28.149-.575.257-.878.323V5.174a3.57 3.57 0 0 0 .924-.371c.184-.107.377-.216.576-.323m5.478 8.338a.75.75 0 0 1-.546.91l-4 1a.75.75 0 1 1-.364-1.456l4-1a.75.75 0 0 1 .91.546M11.25 5.214a3.444 3.444 0 0 1-.968-.339C9.296 4.354 8.05 3.765 7 3.487c-.887-.233-2.041-.352-3.018-.412C2.886 3.008 2 3.9 2 4.998v11.146c0 1.11.906 2.01 2.015 2.079c.97.06 2.108.179 2.985.41c1.081.286 2.373.904 3.372 1.436c.28.149.575.257.878.324zM4.273 8.818a.75.75 0 0 1 .91-.546l4 1a.75.75 0 1 1-.365 1.456l-4-1a.75.75 0 0 1-.545-.91m.91 3.454a.75.75 0 1 0-.365 1.456l4 1a.75.75 0 0 0 .364-1.456z" clip-rule="evenodd"/><path fill="#0D6EFD" d="M18.25 3.151c-.62.073-1.23.18-1.75.336a8.2 8.2 0 0 0-.75.27v3.182l.75-.356l.008-.005a1.13 1.13 0 0 1 .492-.13c.048 0 .094.004.138.01c.175.029.315.1.354.12l.009.005l.75.356V3.647z"/></svg>                    </span>
                    <h2 class="fw-bold fs-5">PQRS</h2>
                </div>
                <div class="card-item col p-2">
                    <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-item" viewBox="0 0 576 512"><path d="M64 144c0-26.5 21.5-48 48-48s48 21.5 48 48v112H64zm-64 0v224c0 61.9 50.1 112 112 112s112-50.1 112-112V189.6c1.8 19.1 8.2 38 19.8 54.8l128.5 187.3c35.5 51.7 105.3 64.3 156 28.1s63-107.5 27.5-159.2L427.3 113.3c-35.5-51.8-105.4-64.3-156-28.1c-28 20-44.3 50.8-47.3 83V144c0-61.9-50.1-112-112-112S0 82.1 0 144m296.6 64.2c-16-23.3-10-55.3 11.9-71c21.2-15.1 50.5-10.3 66 12.2l67 97.6l-79.9 56zM491 407.7c-.8.6-1.6 1.1-2.4 1.6l4-2.8c-.5.4-1 .8-1.6 1.2"/></svg>                    </span>
                    <h2 class="fw-bold fs-5">Medicamentos</h2>
                </div>            
            </div>
            <div class="d-grid gap-2 d-md-block">
                <a type="button" class="btn btn-primary mx-1" asp-controller="" asp-action="Shift">Continuar</a>
            </div>
        </div>
    </div>
</div>
