html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

:root {
  --primary-color: #069fff;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #FAFAFA;
}

/* Clases para las imagenes */

.img-size-home {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}


/* Clases para las cards */

.card {
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.card-item{
  min-width: 150px;
  min-height: 150px;
  max-width: 200px;
  max-height: 150px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-item:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 16px;
  cursor: pointer;
}


/* Clases para los botones*/

.btn {
  font-weight: bold;
  border-radius: 3rem;
  margin:  5px 5px 5px 5px;
  padding-inline: 30px;  
}

.OptionCrud {
  cursor: pointer;
  transition: ease 0.5s;
  width: 2em;
  height: 2em;
  filter:grayscale();
}

.OptionCrud:hover {
  transform: scale(1.08); 
  transition: transform 0.2s ease, background-color 0.5s ease;
  filter: none;
}

.Etiquetas {
  background-color: #258cfb;
}

/* Clases para los formularios */

.form-control {
  border-radius: 25px;
}

.from-text-area {
  height: 100px;
}

.form-select {
  border-radius: 25px;
}

/* Clases para los links */
a {
  text-decoration: none;
}


/* Clases para los iconos */

.icon-item {
 width: auto;
 height: 5rem;}
 

.logo-min {
  width: 150px;
  height: auto;
}

 .table {
  font-size: 24px; 
}

.table td,
.table th {
  padding: 20px; 
}

.img2{
  width: 200px;

}
.miboton {
  background-color: #007bff;
  border: 2px solid #007bff; 
  color: #fff; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 18px; 
  margin: 5px;
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s; 
}

.miboton:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.miboton:active {
  background-color: #0056b3; 
  border-color: #0056b3; 
}

.primer-turno {
  background-color: lightblue; 
}